@{
    ViewData["Title"] = "Makaleler";
    ViewData["BodyClass"] = "default-bg";
    Layout = "_Layout";
}


<section style="padding: 60px;">
    <h2 style="color: #5a2a83;">Proje Hakkında</h2>
    <p style="font-size: 18px; line-height: 1.6;">
        PureScan projesi, kullanıcıların kozmetik ürünleri fotoğraflayarak içerik analizlerini yapmalarına yardımcı olmayı amaçlayan bir sistemdir.
        Mobil ve web bileşenleri sayesinde kullanıcılar, ürün içeriklerini kolayca öğrenebilir, zararlı bileşenler hakkında bilgi edinebilir.
    </p>

    <h3 style="margin-top: 40px; color: #5a2a83;">Kimler Geliştirdi?</h3>
    <p style="font-size: 18px;">
        Bu proje bir bitirme projesi olarak geliştirilmiştir. Web kısmı <strong>İrem KABAOĞLU</strong> tarafından, mobil kısmı ise <strong>Rabia ÇETE</strong> tarafından geliştirilmiştir.
    </p>

    <h3 style="margin-top: 40px; color: #5a2a83;">Kullanılan Teknolojiler</h3>
    <ul style="font-size: 18px; padding-left: 20px;">
        <li>ASP.NET Core MVC</li>
        <li>Web API</li>
        <li>HTML / CSS / JavaScript</li>
        <li>TensorFlow & CNN </li>
        <li>PostgreSQL</li>
    </ul>
</section>
